@font-face {
  font-family: 'header-font';
  src: url('../fonts/cursive2/satisfy-regular-webfont.woff2') format('woff2'),
       url('../fonts/cursive2/satisfy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'text-font';
  src: url('../fonts/jetbrains/jetbrainsmononl-regular-webfont.woff2') format('woff2'),
       url('../fonts/jetbrains/jetbrainsmononl-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'text-font';
}

.header {
  font-family: 'header-font';
  font-weight: lighter;
}

body {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
}

header {
  flex: 1;
  display: flex;
}

.pic-container {
  flex: 1;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  background-image: url("../imgs/brwn-bg.png");
  background-size: cover;
  background-position: 50% 20%;
  box-shadow: 0 0 5px gray;
}

.about-me {
  flex: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 1px 1px 5px gray;
}

.about-me > h2, .about-me > p {
  margin-bottom: 1rem;
}

.icons-header {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}

main {
  flex: 1;
}

footer {
  flex: 1;
}

.left-footer {
  display: flex;
  flex-direction: column;
}


.contact-info p {
  padding: 0.7rem;
  padding-left: 0;
}

.icons svg {
  height: 24px;
  width: 24px;
}

button {
  appearance: none;
  background: none;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.icons-footer {
  display: flex;
  gap: 1rem;
  padding-top: 0.7rem;
}

.email {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.email svg {
  height: 24px;
  width: 24px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  opacity: 0.5;
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px gray;
  width: calc((100vw - 6rem - 2 * 1.5rem) / 3);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card-bottom {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.bottom-title {
  display: flex;
  justify-content: space-between;
}

.card-icons svg {
  height: 20px;
  width: 20px;
}

.card-top {
  height: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

