@font-face {
  font-family: 'header-font';
  src: url('../fonts/cursive2/satisfy-regular-webfont.woff2') format('woff2'),
       url('../fonts/cursive2/satisfy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'text-font';
  src: url('../fonts/jetbrains/jetbrainsmononl-regular-webfont.woff2') format('woff2'),
       url('../fonts/jetbrains/jetbrainsmononl-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'terminal';
  src: url('../fonts/terminal/glass_tty_vt220-webfont.woff2') format('woff2'),
       url('../fonts/terminal/glass_tty_vt220-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'text-font';
}

.header {
  font-family: 'header-font';
  font-weight: lighter;
}

html {
  overflow-x: hidden;
  /* stop the scrolling on x axis on safari browser */
  overscroll-behavior-x: none;
}

/* stop the scrolling on x axis on mobile ios devices */
@supports (-webkit-touch-callout: none) {
  html, body {
    overflow-x: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-top: 0.5rem;
  gap: 3rem;
  position: relative;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

.bg-triangle::after {
  content: "";
  border-top: 70vh solid var(--bg-triangle-clr);
  border-right: 150vw solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  flex: 1;
  display: flex;
}

.pic-container {
  flex: 1;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("../imgs/better.png");
  background-size: cover;
  background-position: 50% 20%;
  box-shadow: 1px 1px 10px 2px var(--box-shadow-clr);
  z-index: 0;
}

.my-name {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: absolute;
  bottom: -0.8%;
  left: 1%;
 
}

.arrow {
  font-family: 'terminal';
  font-size: x-large;
  font-weight: bold;
}

.my-name > h1 {
  font-family: 'terminal';
  font-size: x-large;
  font-weight: bold;
  overflow: hidden;
  border-right: 0.8rem solid white;
  white-space: nowrap;
  letter-spacing: .2rem;
  animation: 
    type-effect 3s steps(60, end) 1.3s backwards, 
    flicker .75s step-end infinite;
}

.inner-border {
  width: 91%;
  height: 91%;
  border: 1px solid var(--text-color);
  position: relative;
}

.about-me {
  flex: 2;
  justify-self: flex-start;
  align-self: center;
  background-color: var(--sections-bg-clr);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 5px var(--box-shadow-clr);
}

.outer-border {
  border: 1px solid var(--text-color);
  border-left: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--sections-bg-clr);
}

.outer-border > h2, 
.outer-border > p {
  margin-bottom: 1rem;
}

.icons-header {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
  position: relative;
}

main {
  flex: 1;
}

footer {
  flex: 1;
  background-color: var(--bg-footer-clr);
  margin-left: -3rem;
  margin-right: -3rem;
  margin-bottom: -3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: flex;
  gap: 7rem;
}


.contact-info p {
  padding: 1rem;
  padding-left: 0;
}

.icons svg {
  height: 24px;
  width: 24px;
}

button {
  appearance: none;
  background: none;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.icons-footer {
  display: flex;
  gap: 1rem;
  padding-top: 0.7rem;
}

.email, .phone {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.email svg, 
.phone svg, 
.mode svg, 
.location svg {
  height: 24px;
  width: 24px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  opacity: 0.5;
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px gray;
  width: calc((100vw - 6rem - 2 * 1.5rem) / 3);
  transition: transform 0.3s ease-in-out;
  background-color: var(--sections-bg-clr);
  padding: 0.2rem;
}

.card:hover {
  transform: scale(1.03);
}

.card-bottom {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.bottom-title {
  display: flex;
  justify-content: space-between;
}

.card-icons svg {
  height: 20px;
  width: 20px;
}

.card-top {
  height: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  cursor: pointer;
}

.icons-footer {
  position: relative;
}

.drop-down {
  display: none;
  width: max-content;
  position: absolute;
  top: 90%;
  background-color: var(--drop-down-bg-clr);
  border-radius: 5px;
  padding: 0.2rem;
}

.drop-down.vis {
  display: flex;
  flex-direction: column;
  transform-origin: top;
  animation: slide-down 1s;
}

.phone {
  padding-bottom: 0.7rem;
}

.drop-down a {
  text-decoration: none;
  color: var(--drop-down-text-clr);
  transition: transform 0.3s ease-in-out;
}

.phone a, 
.email a {
  text-decoration: none;
  color: var(--drop-down-text-clr)
}

.phone, 
.email {
  transition: transform 0.3s ease-in-out;
}

.drop-down a:hover, 
.phone:hover, 
.email:hover {
  transform: scale(1.01);
}

.right-footer{
  padding-right: 4rem;
}

.left-footer {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  justify-content: space-between;
}

.right-footer img {
  height: 450px;
  width: 350px;
}

svg, g, .cls-1 {
  fill: var(--icon-fill-clr);
}

.mode {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -3vh;
  right: 5vw;
  transition: opacity 0.6s ease-in-out, top 0.6s ease-in-out;
}

.mode.vis2 {
  opacity: 1;
  visibility: visible;
  top: 5vh;
}

.mode.hidden {
  top: -3vh;
}

header, 
footer, 
main,
.bg-triangle {
  transition: 
    background-color 1s, 
    color 1s,
    fill 1s;
}

.designed-by {
  width: 100vw;
  font-size: smaller;
  background-color: var(--bg-footer-clr);
  padding: 0;
  margin-left: -3rem;
  margin-bottom: -3rem;
}

@keyframes type-effect {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes flicker {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes slide-down {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1)
  }
}

/* for tablet */
@media (max-width: 1150px) {

  body {
    padding: 5rem;
    padding-top: 0.5rem;
  }

  header {
    position: relative;
  }

  .pic-container {
    position: absolute;
    height: 500px;
    width: 433px;
    top: 0;
    left: -2.5rem;
  }

  .outer-border {
    border-left: 1px solid var(--text-color);
  }

  .outer-border h2::before {
    content: "";
    width: 370px;
    height: 1px;
    float: left;
  }

  .outer-border p::before {
    content: "";
    width: 370px;
    height: 320px;
    float: left;
  }

  .about-me {
    justify-self: center;
    align-self: center;
    margin-top: 6rem;
    padding-left: 1rem;
  }

  .card {
    width: calc((100vw - 9rem - 2 * 1.5rem) / 2);
  }

  footer {
    margin-left: -5rem;
    margin-right: -5rem;
    margin-bottom: -5rem;
  }

  .designed-by {
    margin-left: -5rem;
    margin-bottom: -5rem;
  }
  
}

/* for mobile devices */
@media (max-width: 850px) {

  body {
    padding: 2rem;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pic-container {
    position: static;
    padding: 1rem;
    flex: none;
  }

  .about-me{
    margin-top: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .outer-border {
    border: none;
    background-color: transparent;
  }

  .outer-border h2::before, 
  .outer-border p::before {
    content: none;
  }

  .inner-border {
    border: none;
  }

  .card {
    width: calc((100vw - 4rem - 2 * 1.5rem));
  }

  .works-container {
    flex-direction: column;
    align-items: center;
  }

  .right-footer {
    padding-right: 0;
  }

  footer {
    flex-direction: column;
    align-items: center;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -3rem;
    gap: 2rem;
  }

  .designed-by {
    margin-left: -2rem;
    margin-bottom: -2rem;
  }

}